<app-sidebar></app-sidebar>


<div class="content">
      
    <form (ngSubmit)="onAccountStatementSubmit(form.value)" #form="ngForm" action="post">

      
      <label for="fname">Select your Account ID : </label>
      <select name="AccountID" id="AccountID" required ngModel>
        <option value="" disabled selected>Select Account Id</option>
        <option *ngFor="let acc of customerAccounts" value="{{acc.accId}}" required >{{acc.accId}} - {{acc.accType}}</option>
      </select>
      <label for="fromdate"> From Date: </label>
      <input type="date" id="fromdate" name="from_date" placeholder="Enter Date.." required ngModel/>
      <br>
      <br>  
      <label for="todate"> To Date: </label>
      <input type="date" id="todate" name="to_date" placeholder="Enter Date.." required ngModel/>
      <br>
      <br>
      <input type="submit" value="Submit"  [disabled]="form.invalid">
    </form>
    <table *ngIf="accountStatements.length" class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Narration</th>
          <th>Deposit</th>
          <th>Withdrawal</th>
          <th>Closing Balance </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of accountStatements">
          <td>{{s.date}}</td>
          <td>{{s.narration}}</td>
          <td>{{s.deposit}}</td>          
          <td>{{s.withdrawal}}</td>
          <td>{{s.closingBalance}}</td>
        </tr>
      </tbody>
    </table>
  </div>