<app-sidebar></app-sidebar>

<div class="content">
    <form (ngSubmit)="onTransferSubmit(form.value)" #form="ngForm" action="post">

      <label for="fname">Select Sender Account ID : </label>
      <select name="sourceAccountID" id="AccountID" required ngModel>
        <option value="" disabled selected>Select Account Id</option>
        <option *ngFor="let acc of customerAccounts" value="{{acc.accId}}" required>{{acc.accId}} - {{acc.accType}}</option>
      </select>
  
      
      <label for="fname">Enter Reciver Account ID : </label>
      <input type="number" id="fname" name="destinationAccountID" placeholder="Acc Id.." ngModel/>
  
      <label for="lname">Enter the amount to be transfered : </label>
      <input type="number" id="lname" name="Amount" min="0" placeholder="Amt in Rs.." required ngModel/>
    
      <input type="submit" value="Transfer Money" [disabled]="form.invalid">
    </form>
  </div>