<section class="hero">

    <div class="hero-content">
    
       <h1 class="hero-title">
            Welcome to Retail Banking Portal
       </h1>
         
       <h4 class="hero-subtitle">
            Click the button below to continue.
       </h4>
       <a *ngIf="!isLoggedIn" href="login" class="hero-button" > Log in</a>       
       <a *ngIf="isLoggedIn && isEmployee" href="/employee/dashboard" class="hero-button">Go to Dashboard</a>
       <a *ngIf="isLoggedIn && !isEmployee" href="/customer/dashboard" class="hero-button">Go to Dashboard</a>
    </div>

</section>
